
{% extends "base.html" %}

{% block main_menu %}
    {{ super() }}
    {% include 'quiz_menu.html' %}    
{% endblock %}

{% block content1 %}


<div class="quiz_form">
    <form action="/quiz_edit/{{ quiz.id }}/" method="post">
        <fieldset>
            <legend>Измените название</legend>
            <input type="hidden" name="quiz_id" value="{{ quiz.id }}">
            <label for="name">Название</label>
            <input type="text" name="name" id="name" value="{{ quiz.name }}" placeholder="Название КВИЗА">
            <div>
                <a class="button" href="/quizes_view">ОТМЕНА</a>
                <input class="button" type="submit" value="OK">            
                <a class="button" href="/quiz_delete/{{quiz.id}}">Удалить КВИЗ</a>
            </div>
            

        </fieldset>
        
    
    </form>


</div>



{% endblock %}